<%= form_for(@race, :remote => true, :html => { :class => "form-inline"}) do |f| %>
	
  <% if @race.new_record? %>

    <td><%= f.text_field :race_name, :class => "input-mini", :placeholder => "Name" %></td>
    <td><%= f.text_field :race_type, :class => "input-mini", :placeholder => "Type" %></td>
    <td><%= f.text_field :distance, :class => "input-mini", :placeholder => "Distance" %></td>
    <td><%= f.text_field :year, :class => "input-mini", :placeholder => "Year" %></td>
    <td><%= f.text_field :race_id, :class => "input-mini", :placeholder => "ID" %></td>

	<td><%= f.text_field :city, :class => "input-mini", :placeholder => "City" %></td>
	<td><%= f.text_field :state, :class => "input-mini", :placeholder => "State" %></td>
    <td><%= f.text_field :country, :class => "input-mini", :placeholder => "Country"  %></td>

    <td><%= f.submit "Add", :class => "btn" %></td>
    <td></td>
  <% else %>

    <td><%= f.text_field :race_id, :class => "input-mini", :placeholder => "ID" %></td>

    <td><%= f.submit "Chg ID", :class => "btn" %></td>

  <% end %>
<% end %>
