<div class="row">
  <div class="offset4 span4 well">
    
    <%= form_for @user, :html => { :class => "form-horizontal"} do |f| %>

      <legend>Sign Up</legend>
      <div class="control-group">
        <%= f.label :email, :class =>"control-label" %>
        <div class="controls">
          <%= f.text_field :email, :class => "span2", :placeholder =>"Email" %>
        </div>
      </div>

      <div class="control-group">
      	<%= f.label :password, :class =>"control-label" %>
        <div class="controls">
        	<%= f.password_field :password, :class => "span2", :placeholder =>"Password" %>
        </div>
      </div>
      <div class="control-group">
      	<%= f.label :password_confirmation, :class =>"control-label" %>
        <div class="controls">
      	  <%= f.password_field :password_confirmation, :class => "span2", :placeholder =>"Password Confirm" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f. submit "Sign Up", :class => "btn" %>
        </div>
      </div>
    
      <% if @user.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <% end %>
  </div>
</div>

