<h1>Trophy</h1>

<div class="row">
  <div class="span3">
  
    <dl class="dl-horizontal">

      <dt>Racer Name:</dt>
      <dd><%= @result.racerName %></dd>
      
      <dt>Bib:</dt>
      <dd><%= @result.bib %></dd>
      
      <dt>Country:</dt>
      <dd><div class="flag flag-<%= @result.country %> showMe"></div></dd>
      
      <dt>Division Rank:</dt>
      <dd><%= @result.divisionRank %></dd>

      <dt>Overall Rank:</dt>
      <dd><%= @result.overallRank %></dd>

      <hr>

      <dt>Swim Time:</dt>
      <dd><%= @result.swimTime.try(:strftime, "%H:%M:%S") %></dd>

      <dt>Bike Time:</dt>
      <dd><%= @result.bikeTime.try(:strftime, "%H:%M:%S") %></dd>

      <dt>Run Time:</dt>
      <dd><u><%= @result.runTime.try(:strftime, "%H:%M:%S") %></u></dd>

      <dt>Total Time:</dt>
      <dd><%= @result.totalTime.try(:strftime, "%H:%M:%S") %></dd>
    </dl>

    <div class="form-actions">
      <%= link_to 'View', user_path(session[:user_id]), :class => 'btn'  %>
      <%= link_to 'Edit', edit_user_result_path(current_user, @result), :class => 'btn' %>
      <%= link_to 'Delete', user_result_url(current_user, @result), :method => 'delete', :class => 'btn btn-danger' %>
    </div>
  </div>
</div>
  
