<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyTrophyCase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAQRZckzgcuZO3X1M-uijm0S58J-xhwbVw&sensor=false"></script>
	<!-- Le fav and touch icons -->
<!-- 	<link rel="shortcut icon" href="assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->
</head>

<body>
    <div class="navbar navbar-fixed-top"> 
        <div class="navbar-inner">
        	<div class="container">
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</a>
          
          <% if current_user %>  
               <%= link_to 'My Trophy Case', user_url(current_user.id), :class => "brand" %>
          <% else %>  
              <%= link_to "My Trophy Case", root_path, :class => "brand" %>
          <% end %>
              
<!-- button used for login/logout -->
              
              <% if current_user %>                
                <div class="btn-group pull-right">  
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> <%= current_user.email %>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", user_url(current_user.id) %></li>
                    <li class="divider"></li>
                    <li><%= link_to '<i class="icon-search"></i>Log Out'.html_safe, logout_path %></li>
                  </ul>
                </div>  
              <% else %>
                <ul class="nav pull-right">
                  <li><%= link_to "Sign Up", signup_path %> </li>
                  <li><%= link_to "Log In", login_path %> </li>
                </ul>
              <% end %>




          		<div class="nav-collapse">
              		<ul class="nav">
                    <% if current_user %>
                      <% if @page_tab == "search" %>
                  		  <li class="active">
                          <%= link_to '<i class="icon-search icon-white"></i> Search'.html_safe, new_user_result_path(current_user)  %>
                        </li>
                      <% else %>
                        <li>
                          <%= link_to 'Search', new_user_result_path(current_user) %>
                        </li>                    
                      <% end %>


                      <% if @page_tab == "view" %>
                        <li class="active">
                          <%= link_to '<i class="icon-eye-open icon-white"></i> View'.html_safe, user_path(session[:user_id]) %>
                        </li>
                      <% else %>
                        <li>
                          <%= link_to 'View', user_path(session[:user_id]) %>
                        </li>                    
                      <% end %>
                    <% end %>


                  </ul>
            	</div><!--/.nav-collapse -->
      	   </div>
        </div>
    </div>
      
    <!-- seems like standard bootstrap - where everything is held, but I need to go back and check -->
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    
    <%= yield %>

	</div>

</body>
</html>
